<!-- フラッシュメッセージ表示 -->
<div>
  <p class="notice"><%= flash[:notice] %></p>
</div>

<div class="container">
  <h2>User info</h2>

  <!-- エラーメッセージ -->
  <!--<div class="error-box">-->
  <!--  </% if @book.errors.any? %>-->
  <!--    <h3></%= @book.errors.count %> errors prohibited this book from being saved:</h3>-->
  <!--    <div class="error-message">-->
  <!--      <ul>-->
  <!--        </% @book.errors.full_messages.each do |message| %>-->
  <!--          <li></%= message %></li>-->
  <!--        </% end %>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </% end %>-->
  <!--</div>-->

  <!-- 投稿編集 -->
  <div class="field">
    <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
      <div class="form">
        <label for="inputName">Name</label>
          <div class="input-box">
            <%= f.text_field :name, autofocus: true, id:"inputName" %>
          </div>
      </div>

      <div class="form">
        <label for="inputImage">Image</label>
        <div>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
      </div>

      <div class="form">
        <label for="inputIntro">Introduction</label>
          <div class="input-box">
          <%= f.text_area :introduction, rows:"3" %>
        </div>
      </div>

      <div class="form">
        <%= f.submit "Update User", class: 'submit-btn' %>
      </div>
    <% end %>

</div>