<h1>(users/show.html)</h1>

<!-- フラッシュメッセージ表示 -->
<div>
  <p class="notice"><%= flash[:notice] %></p>
</div>

<!--左部分-->
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザー情報-->
      <div class="user-info">
        <%= render 'user-info', user: @user %> <!--部分テンプレート-->
      </div>

      <!--新規投稿-->
      <div class="new-book">
        <%= render 'new-book', book: @book %> <!--部分テンプレート-->
      </div>
    </div>

<!--右部分-->
    <div class="col-md-8 offset-md-1">
      <!--投稿一覧-->
      <div class="table table-hover table-inverse">
        <h2>Books</h2>
        <table class="book-table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>

          <% @books.each do |book| %>
            <tr>
              <td class="user-icon">
                <!-- ユーザーのアイコンを表示 -->
              </td>

              <td class="book-title">
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>

              <td class="book-opinion">
                <span><%= book.body %></span>
              </td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>