<h1>Editing Book</h1>

<!-- エラーメッセージ -->
<div class="error-box">
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %> errors prohibited this book from being saved:</h3>
    <div class="error-message">
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<!-- 投稿編集 -->
<div class="field">
  <%= form_with model: @book do |f| %>
    <div class="form">
      <label>Title</label>
      <div class="input-box">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="form">
      <label>Body</label>
      <div class="input-box">
        <%= f.text_area :body %>
      </div>
    </div>

    <div class="form">
      <%= f.submit 'Update Book', class: 'submit-btn' %>
    </div>
  <% end %>
</div>

<!-- リンク -->
<%= link_to 'Show', book_path(@book), class: "show_link" %>
|
<%= link_to 'Back', '/books', class: "back_link" %>