<p>books/index</p>
<!--左部分-->
<!--ユーザー表示機能-->
<h2>User info</h2>
<%= render 'users/user', user: current_user %>

<!--新規投稿機能-->
<h2>New book</h2>
<%= render 'new', book: @book %>




<!--右部分-->
<h1>本一覧</h1>

<% @books.each do |book| %>
  <div class="book">
    <h2><%= book.title %></h2>
    <p><%= book.body %></p>
    <%= link_to "詳細", book_path(book) %>
  </div>
<% end %>