<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!-- フラッシュメッセージ表示 -->
<div>
  <p class="notice"><%= flash[:notice] %></p>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">

<!--左部分-->
    <div class="col-md-3">
      <!--ユーザー情報-->
      <div class="user-info">
        <%= render '/users/user-info', user: @user %> <!--部分テンプレート-->
      </div>

      <!--新規投稿-->
      <div class="new-book">
        <%= render '/users/new-book', book: @book %> <!--部分テンプレート-->
      </div>
    </div>

<!--右部分-->
    <div class="col-md-8 offset-md-1">
      <!-- 投稿詳細 -->
      <div class="table">
        <h2>Book detail</h2>
        <table class="book-table">
          <tr>
            <td class="user-icon">
              <a>
                <%= link_to user_path(@book.id) do %>
                  <%= image_tag @book.user.get_profile_image(80,80) %>
                  <%= @book.user.name %>
                <% end %>
              </a>
            </td>

            <td class="book-title">
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>

            <td class="book-opinion">
              <span><%= @book.body %></span>
            </td>
<% if @book.user_id == current_user.id %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book.id), class:"edit-btn" %>
            </td>
            <td>
              <%= link_to 'Destroy', destroy_book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", class:"destroy-btn" %>
            </td>
<% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<h1>(books/show.html)</h1>